*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Noto Sans', sans-serif;
}

.bred{
        border: 1px solid red;
}
.bgreen{
        border: 1px solid red;
}
.bblue{
        border: 1px solid red;
        
        
}

.container-fluid{
    width:100%;
 
}
.bg-header{
    background: #F5F4F2;
}


.container{
    max-width: 1500px;
    margin: auto;


}

.head-contact{
    display: flex;
    gap: 13px;
}

.head-contact a{
  font-family:'Noto Sans', sans-serif;
  font-size: 13px;
  color: #2E2A4D;
  text-decoration: none;
  padding: 13px 0px;
}

.head-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15px;
}


/* header nav bar css started */


.bg-navbar{
    background: #2E2A4D;
}

.head-nav{
    display: flex;
    justify-content: center;
    gap:35px
}

.head-nav a{
    color:white;
    text-decoration: none;
    padding:20px 0px;
    border-top:2px solid transparent

}

.head-nav a:hover{
    border-top:2px solid white
}

/* banner css started */

.bg-banner{
    background-image: url(https://static.zohocdn.com/ecommerce/stock-images/images/zpstock-image-773.png);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    width: 42%;
}
.banner-img{
    width: 58%;
}
.banner-img img{}
